input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#infoBtn {
  cursor: pointer
}

.slider {
  width: 70vw !important;
}
